{% extends 'base.html' %}

{% block title %}
    {{user.username}} | Reminders
{% endblock %}

{% block my_reminders_active %}active{% endblock %}

{% block content %}

        <!-- Reminders -->
        <section class="reminders-card">

            <div class="reminders-header">

                <div>
                    <span class="section-label">
                        REMINDERS
                    </span>

                    <h2>
                        My Reminders
                    </h2>
                </div>

                <span class="reminder-count">
                    {{ reminders|length }} reminders
                </span>

            </div>


            <div class="reminders-list">

                {% for reminder in reminders %}

                    <div class="reminder-item">

                        <div class="reminder-content">

                            <h3>
                                {{ reminder.title }}
                            </h3>

                            <span class="reminder-date">
                                Book: {{reminder.loan.book.title}}
                            </span>
                            <br>
                            <span class="reminder-date">
                                {{ reminder.created_at|date:"Y M D - H:i" }}
                            </span>
                            <br>

                            <span class="reminder-date">
                                Status: 
                                {% if reminder.is_read %}
                                    Read
                                {% else %}
                                    Unread
                                {% endif %}
                            </span>

                        </div>

                        

                        
                        <a class="reminder-button" href="{% url 'reminders:reminder-detail' pk=reminder.pk %}">
                            Details
                        </a>

                    </div>

                {% empty %}

                    <div class="empty-reminders">
                        <p>
                            There are currently no attendance records for you.
                        </p>
                    </div>

                {% endfor %}

            </div>

        </section>

{% endblock %}