{% extends 'base/base.html' %}

{% block meta_title %}Books{% endblock %}

{% block main %}
  
    {% for book in books %}
        <div>
            <h3><a href="{% url 'books:book-detail' pk=book.pk %}">title: {{ book.title }}</a></h3>
            <h4>author: {{ book.author.name }}</h4>
            <h4>categorys: {{ book.category.name }}</h4>
            <h4>total copies: {{ book.total_copies }}</h4>
            <h4>created_at: {{ book.created_at }}</h4>
        </div><br>
    {% empty%}
        <h2>There is no book </h2>
    {% endfor %}

{% endblock %}