{% extends 'base.html' %}

{% block title %}
    Book | {{ book.title }}
{% endblock %}

{% block content %}

    <article class="book-card">

        <div class="book-cover cover-black">
            <span class="cover-small">
            </span>

            <strong>
                <br>
                {{ book.title }}
            </strong>

            <span class="cover-author">
                {{ book.author }}
            </span>
        </div>


        <div class="book-content">

            <h3>
                {{ book.title }}
            </h3>

            <p class="book-author">
                {{ book.author }}
            </p>

            <p class="book-author" style="font-size: 14px;">
                {% if not book.description %}
                    No description
                {% else %}
                    {{ book.description }}
                {% endif %}
            </p>

            <div class="book-tags">
                {% for cat in book.categorys_for_book %}
                <span>{{ cat.title }}</span>
                {% endfor %}
            </div>

        </div>


        <div class="card-footer">
            {% if book.available > 0 %}
            <span class="availability available">
                <i></i>
                available
            </span>
            {% else %}
            <span class="availability available">
                <i></i>
                out of stock
            </span>
            {% endif %}
            
            {% if book.available > 0 %}
                {% if not is_borrowed %}
                <a href="{% url 'loans:borrow' book_pk=book.pk %}" class="small-button">
                    Borrow
                </a>
                {% else %}
                <a href="{% url 'loans:return' book_pk=book.pk %}" class="small-button">
                    Return
                </a>
                {% endif %}
            {% endif %}

        </div>

    </article>
{% endblock %}