{% extends 'base.html' %}

{% block title %}
  {{book.title}} | Return
{% endblock %}

{% block content %}

  <section class="confirm-page">

      <div class="confirm-card">
          <span class="confirm-label">
            LOAN / CONFIRMATION
          </span>

          <h1>
            Confirm Returning Book
          </h1>

          <p class="confirm-message">
            Are you sure you want to return this book?
          </p>


          <div class="confirm-book">

            <span>Book</span>

            <strong>
              {{ book.title }}
            </strong>

          </div>


          <div class="confirm-actions">

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="confirm-button">
                    Confirm
                </button>
            </form>


            <a href="{% url 'books:book-list' %}"
              class="cancel-button">
                Cancel
            </a>

          </div>
      </div>

  </section>

{% endblock %}
