{% extends 'base.html' %}

{% block title %}
    My books | {{loan.book.title}}
{% endblock %}

{% block content %}

    <article class="book-card">

        <div class="book-cover cover-black">
            <span class="cover-small">
            </span>

            <strong>
                <br>
                My book <br>{{loan.book.title}}
            </strong>
        </div>


        <div class="book-content">

            <h3>
                Book Details:
            </h3>


            <p class="book-author">
                name: {{ loan.book.title }}
            </p>

            <p class="book-author">
                author: {{ loan.book.author }}
            </p>

            <p class="book-author" style="font-size: 14px;">
                {% if not book.description %}
                    description: No description
                {% else %}
                    desctiption: {{ book.description }}
                {% endif %}
            </p>

            <p class="book-author">categorys: </p>
            <div class="book-tags">
                {% for cat in loan.book.categorys_for_book %}
                <span>{{ cat.title }}</span>
                {% endfor %}
            </div>

            <br>

            <h3>
                Borrow Details:
            </h3>

            <p class="book-author">
                user: {{ loan.user.username }}
            </p>

            <p class="book-author">
                borrow date: {{ loan.borrowed_at|date:"Y/m/d" }}
            </p>

            <p class="book-author">
                due date: {{ loan.due_date|date:"Y/m/d" }}
            </p>

        </div>


        <div class="card-footer">
            {% if loan.user == request.user %}
                <a href="{% url 'loans:return' book_pk=loan.book.pk %}" class="small-button">
                    Return
                </a>
            {% endif %}

        </div>

    </article>

{% endblock %}